/selenium/
*.log
*.txt

*. txt
/chapter.html
/colourl.html
/drv.html
/finviz.html
/man.html
/names.csv
/output.html
/output1.html
/output_ebay.html
/dou.html
/dous.html
/hh.html
/rabota.html
/rabotas.html
/work.html
/works.html
/djinni.html
